@use '../custom' as *;
@use '../components/mixins' as *;

.gallery {
    padding: 4rem 0;

    button {
        text-transform: capitalize;
    }
}
.gallery-box {
    position: relative;
    width: 100%;
    height: 100%;
       
}